extends layout/app

block page
    include chunk/header

    h1 Home Page

    img(src="/img/1.png", alt="первое фото")

    ul
        each item in news
            li= item.id + ':' + item.title

    include chunk/footer